<ion-header>
  <ion-toolbar class="modal-toolbar">
    <ion-title>Acessibilidade</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()" fill="clear">
        <ion-icon name="close-outline" style="font-size:22px;color:#6b7280"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content">
  <div class="modal-body">

    <div class="setting-row">
      <div class="setting-left">
        <div class="setting-icon">
          <ion-icon [name]="modoEscuro ? 'moon-outline' : 'sunny-outline'"></ion-icon>
        </div>
        <div class="setting-info">
          <span class="setting-label">Modo Escuro</span>
          <span class="setting-desc">{{ modoEscuro ? 'Ativado' : 'Desativado' }}</span>
        </div>
      </div>
      <ion-toggle [(ngModel)]="modoEscuro"></ion-toggle>
    </div>

    <div class="setting-row">
      <div class="setting-left">
        <div class="setting-icon">
          <ion-icon name="contrast-outline"></ion-icon>
        </div>
        <div class="setting-info">
          <span class="setting-label">Alto Contraste</span>
          <span class="setting-desc">{{ altoContraste ? 'Ativado' : 'Desativado' }}</span>
        </div>
      </div>
      <ion-toggle [(ngModel)]="altoContraste"></ion-toggle>
    </div>

    <div class="setting-block">
      <div class="setting-left">
        <div class="setting-icon">
          <ion-icon name="text-outline"></ion-icon>
        </div>
        <span class="setting-label">Tamanho da Fonte</span>
      </div>
      <div class="fonte-grid">
        <button class="fonte-btn" *ngFor="let f of tamanhosFonte"
          [class.active]="tamanhoFonte === f.valor"
          [style.font-size]="f.size"
          (click)="tamanhoFonte = f.valor">{{ f.label }}</button>
      </div>
    </div>

    <div class="setting-block">
      <div class="setting-left">
        <div class="setting-icon">
          <ion-icon name="language-outline"></ion-icon>
        </div>
        <span class="setting-label">Idioma</span>
      </div>
      <div class="idioma-row">
        <button class="idioma-btn" *ngFor="let i of idiomas"
          [class.active]="idioma === i.valor"
          (click)="idioma = i.valor">{{ i.label }}</button>
      </div>
    </div>

  </div>
</ion-content>