<div class="modal-body">

  <div class="cartao-item" *ngFor="let c of cartoes">
    <div class="cartao-left">
      <div class="setting-info">
        <span class="setting-label">•••• •••• •••• {{ c.ultimos4 }}</span>
        <span class="setting-desc">{{ c.titular }} · {{ c.tipo }}</span>
      </div>
    </div>
    <button class="btn-remover" (click)="remover(c)">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
  </div>

  <div class="vazio" *ngIf="cartoes.length === 0">
    <ion-icon name="card-outline"></ion-icon>
    <p>{{ 'CARTOES.NENHUM' | translate }}</p>
  </div>

  <button class="btn-adicionar" (click)="adicionar()">
    <ion-icon name="add-circle-outline"></ion-icon>
    {{ 'CARTOES.ADICIONAR' | translate }}
  </button>

</div>