<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eventos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ 'TABS.EVENTOS' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notificacoes" class="notif-tab">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge *ngIf="totalNaoLidas > 0" class="notif-badge">
        {{ totalNaoLidas > 9 ? '9+' : totalNaoLidas }}
      </ion-badge>
      <ion-label>{{ 'TABS.NOTIFICACOES' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABS.PERFIL' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>