<ion-content class="register-content">
  <div class="register-wrap">
    <div class="register-header">
      <button class="btn-voltar" (click)="voltar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <div class="register-logo"><ion-icon name="card-outline"></ion-icon></div>
      <h1 class="register-titulo">{{ 'REGISTER.TITULO' | translate }}</h1>
      <p class="register-subtitulo">{{ 'REGISTER.SUBTITULO' | translate }}</p>
    </div>
    <div class="register-form">
      <div class="field-group">
        <label class="field-label">{{ 'REGISTER.EMAIL' | translate }}</label>
        <div class="field-wrap">
          <ion-icon name="mail-outline" class="field-icon"></ion-icon>
          <input class="field-input" type="email" placeholder="joao@exemplo.pt" [(ngModel)]="email" />
        </div>
      </div>
      <div class="field-group">
        <label class="field-label">{{ 'REGISTER.NIF' | translate }}</label>
        <div class="field-wrap">
          <ion-icon name="card-outline" class="field-icon"></ion-icon>
          <input class="field-input" type="text" inputmode="numeric" maxlength="9" placeholder="123456789"
            [(ngModel)]="nif" />
        </div>
      </div>
      <div class="field-group">
        <label class="field-label">{{ 'REGISTER.PASSWORD' | translate }}</label>
        <div class="field-wrap">
          <ion-icon name="lock-closed-outline" class="field-icon"></ion-icon>
          <input class="field-input" [type]="mostrarPassword ? 'text' : 'password'"
            [placeholder]="'REGISTER.PLACEHOLDER_PASSWORD' | translate" [(ngModel)]="password" />
          <button class="field-eye" (click)="mostrarPassword = !mostrarPassword" type="button">
            <ion-icon [name]="mostrarPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </button>
        </div>
      </div>
      <div class="field-group">
        <label class="field-label">{{ 'REGISTER.CONFIRMAR_PASSWORD' | translate }}</label>
        <div class="field-wrap">
          <ion-icon name="lock-closed-outline" class="field-icon"></ion-icon>
          <input class="field-input" [type]="mostrarConfirmar ? 'text' : 'password'"
            [placeholder]="'REGISTER.PLACEHOLDER_CONFIRMAR' | translate" [(ngModel)]="confirmarPassword"
            (keyup.enter)="registar()" />
          <button class="field-eye" (click)="mostrarConfirmar = !mostrarConfirmar" type="button">
            <ion-icon [name]="mostrarConfirmar ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </button>
        </div>
      </div>
      <button class="btn-registar" (click)="registar()" [disabled]="carregando">
        <span *ngIf="!carregando">{{ 'REGISTER.CRIAR_CONTA' | translate }}</span>
        <span *ngIf="carregando" class="spinner"></span>
      </button>
      <div class="register-footer">
        <span>{{ 'REGISTER.JA_TENS_CONTA' | translate }}</span>
        <button class="btn-link" (click)="voltar()">{{ 'REGISTER.INICIAR_SESSAO' | translate }}</button>
      </div>
    </div>
  </div>
</ion-content>