<ion-content class="grelha-content">
  <div class="header-data">
    <div class="info">
      <span class="dia-big">{{ dataAtual | date:'dd' }}</span>
      <span class="mes-big">{{ meses[dataAtual.getMonth()] }}</span>
      <span class="ano-big">2026</span>
    </div>
    <div class="semana-label">{{ dataAtual | date:'EEE' | uppercase }}</div>
  </div>

  <div class="tabs-vista">
    <button [class.active]="vista === 'mes'" (click)="vista='mes'">MÊS</button>
    <button [class.active]="vista === 'semana'" (click)="vista='semana'">SEMANA</button>
    <button [class.active]="vista === 'dia'" (click)="vista='dia'">DIA</button>
  </div>

  <div class="grid-mes" *ngIf="vista === 'mes'">
    <div class="labels-dias">
      <div *ngFor="let s of diasSemana">{{ s }}</div>
    </div>
    <div class="cells-container">
      <div *ngFor="let c of celulas" class="cell" [class.off]="!c.m" [class.today]="isHoje(c.d)"
        [class.selected]="isSel(c.d)" (click)="selecionar(c.d)">
        {{ c.d.getDate() }}
      </div>
    </div>
  </div>

  <div class="footer-nav">
    <button (click)="navegar(-1)"><ion-icon name="chevron-back-outline"></ion-icon></button>
    <button (click)="navegar(1)"><ion-icon name="chevron-forward-outline"></ion-icon></button>
  </div>
</ion-content>